body{
    background: rgb(177, 137, 201);
    margin-left: 100px;
    margin-right: 200px;

}
header{
    margin-top: 70px;
}

h1{
    color: red;
    font-family: fantasy;
}
h2{
    font-family: fantasy;
}
p{
    font-style: 18px;
}
footer{
    margin-bottom: 30px;
}
.img_padrao{
    margin-bottom: 10px;
    width: 300px;
}
.Logo{
    width: 30px;
}
